/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

div.fran-test-public-wrapper {

}

div.fran-test-public-wrapper  div.fran-test-quiz-holder {

}

div.fran-test-public-wrapper  div.fran-test-quiz-holder  div.fran-test-question {

}

div.fran-test-public-wrapper  div.fran-test-quiz-holder  div.fran-test-question {

}

div.fran-test-public-wrapper  div.fran-test-quiz-holder div.fran-test-answers {

}

div.fran-test-public-wrapper  div.fran-test-quiz-holder div.fran-test-answers div.fran-test-base {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    color: white;
    vertical-align: top;
    cursor: pointer;
}

div.fran-test-public-wrapper  div.fran-test-quiz-holder div.fran-test-answers div.fran-test-binary {
    width:30%;
    padding: 5% ;
    margin: 5%;
}

div.fran-test-public-wrapper  div.fran-test-quiz-holder div.fran-test-answers div.fran-test-few {
    width:18em;
    padding: 1em ;
    margin-bottom: .5em;
    display: block;
}

div.fran-test-public-wrapper  div.fran-test-quiz-holder div.fran-test-answers div.fran-test-multiple {
    width: 10em;
    height: 9em;
    padding: 1.5em ;
    margin: 0.5em;

}

div.fran-test-public-wrapper  div.fran-test-quiz-holder div.fran-test-answers div.fran-test-highlight {
    border: black 2px solid;
}

div.fran-test-public-wrapper  div.fran-test-quiz-holder div.fran-test-answers div.fran-test-ask-words {
    display: none;
}