/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

div.fran-test-public-wrapper {
    min-height: 30em;
}

div.fran-test-public-wrapper  div.fran-test-quiz-holder {
    text-align: center;
}

div.fran-test-public-wrapper  div.frant-test-progress-detail {
    width: 100%;
    text-align: center;
}


div.fran-test-public-wrapper  div.fran-test-quiz-holder  div.fran-test-question {
    margin-bottom: 1em;
    text-align: center;
    line-height: 1.25em;
    height: 3em;
    font-weight: bold;
    font-size: 2em;
}

div.fran-test-public-wrapper  div.fran-test-quiz-holder div.fran-test-answers {
    text-align: center;
    margin: auto;
    max-width: 900px;
    height: 32em ;

}

div.fran-test-public-wrapper  div.fran-test-quiz-holder div.fran-test-answers div.fran-test-base {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    color: white;
    vertical-align: top;
    cursor: pointer;
}

div.fran-test-public-wrapper  div.fran-test-quiz-holder div.fran-test-answers div.fran-test-binary {
    width:30%;
    padding:  5%;
    margin: 0 5% 5%;
}

div.fran-test-public-wrapper  div.fran-test-quiz-holder div.fran-test-answers div.fran-test-few {
    width:18em;
    padding: 1em ;
    margin-bottom: .5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.fran-test-public-wrapper  div.fran-test-quiz-holder div.fran-test-answers div.fran-test-multiple {
    width: 10em;
    height: 9em;
    padding: 1.5em ;
    margin: 0.5em;

}

div.fran-test-public-wrapper  div.fran-test-quiz-holder div.fran-test-answers[min-width~="799px"] div.fran-test-multiple {

}

div.fran-test-public-wrapper  div.fran-test-quiz-holder div.fran-test-answers div.fran-test-highlight {
    border: black 2px solid;
}

div.fran-test-public-wrapper  div.fran-test-quiz-holder div.fran-test-answers div.fran-test-ask-words {
    display: none;
}

div.fran-test-public-wrapper  div.fran-test-quiz-holder div.fran-test-ask-words {
    text-align: center;
    margin:0 auto;
    background:white;
    border-radius:10px;
    margin-bottom:20px;
}





div.fran-test-ask-words input {
    display: inline-block !important;
    font-size: 2em;
    width: 20em;
    padding-left: 1em;
    margin-bottom: .25em;
}


div.fran-test-ask-words .big-button2 {
    margin-top: 0.3em;
    font-size: 2em;
    width: 20em;
}
